@import '../../../css/colors.css';

.generalContainer {
  position: relative;
  width: 365px;

  margin-bottom: 10px;
}
.container {
  position: relative;

  width: 365px;

  padding-top: 1px;
  padding-bottom: 1px;

  border-radius: 10px;
  border-left: 4px solid var(--corPrimaria);

  margin: auto;
  margin-bottom: 10px;
  
  background: var(--corFundo);

  z-index: 1;
}

/* Lock Container */

.container .lockedContainer {
  display: none;
}
.containerLocked {
  position: relative;

  width: 365px;

  padding-top: 1px;
  padding-bottom: 1px;

  border-radius: 10px;
  border-left: 4px solid var(--corPrimaria);

  margin: auto;
  margin-bottom: 10px;
  
  background: var(--corFundo);

  z-index: 0;
}
.containerLocked .lockedContainer {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  left: -4px;
  top: 0;

  width: 100%;
  height: 100%;

  border-radius: 10px;
  border-left: 4px solid var(--corPrimaria);

  background: var(--corFundo);

  z-index: 1;
}
.containerLocked .lockedContainer .lockedText {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 700;

  margin-bottom: 5px;

  color: var(--corTextoBranco);
}
.containerLocked .lockedContainer .lockedLevel {
  font-size: 14px;
  font-weight: 700;

  color: var(--corTextoBranco);
}
.containerLocked .lockedContainer .lockedLevel span {
  font-weight: 300;
}

/* Lock Container End */

.totalAmount {
  position: absolute;
  display: flex;

  width: 100px;
  height: 20px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  align-items: center;
  justify-content: center;

  left: 50%;
  top: 0;

  transform: translateX(-50%);

  font-size: 13px;

  background: var(--corPrimaria);
  color: var(--corTextoBranco);
}
.name {
  margin-top: 6px;
}
.valueText {
  color: var(--corTextoBranco);
  font-weight: 300;

  font-size: 14px;

  margin-left: 6px;
}
.bold {
  font-weight: 700;
}
.spacing {
  margin-top: 20px;
}

/* Amount Control */
.amountControl {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  right: 6px;
  top: 6px;

  color: var(--corTextoBranco);
}
.amountControl .title {
  font-size: 12px;
}
.amountContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 76px;
  height: 20px;

  margin-top: 5px;
  border-radius: 50px;

  font-size: 12px;

  background: var(--corFundoNav);
}
.stopProduction {
  width: 76px;
  height: 25px;

  margin-top: 10px;

  border: none;
  border-radius: 10px;

  background: var(--corPrimaria);
  color: var(--corTextoBtn);

  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.stopProduction:hover {
  background: var(--corPrimariaHover);
}
.amountControlGrid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  margin-top: 5px;
  width: 76px;
}
.button {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  margin: auto;

  border-radius: 100%;
  border: none;

  color: var(--corTextoBranco);  
  background: var(--corFundoNav);

  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button:hover {
  background: var(--corFundoNavHover);
}

/* Overclock Range */

.overclockRange {
  -webkit-appearance: none;

  margin-left: 6px;
  margin-bottom: 10px;
  width: 95%;
  height: 15px;

  border-radius: 50px;
  background: var(--corFundoNav);
}
.overclockRange::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 15px;
  height: 15px;

  border-radius: 100%;

  background: var(--corPrimaria);

  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.overclockRange::-webkit-slider-thumb:hover {
  background: var(--corPrimariaHover);
}
.buttonInfoGrid {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;

  margin-bottom: 10px;
}
.buttonInfo {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 60px;
  height: 35px;

  border-radius: 10px;
  border: none;

  margin: 0 5px;

  background: var(--corPrimaria);
  color: var(--corTextoBtn);
  font-size: 20px;

  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.buttonInfo:hover {
  background: var(--corPrimariaHover);
}

/* Extra Info Container */
.extraInfoContainer {
  position: relative;
  display: flex;

  justify-content: center;

  flex-direction: column;

  width: 365px;
  height: 50px;

  top: -80px;

  border-radius: 10px;
  border-left: 4px solid var(--corPrimaria);

  background: var(--corFundo);

  z-index: 0;
}
.infoDiv {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  font-size: 8px;

  top: 5px;
  right: 5px;

  border-radius: 100%;

  background: var(--corTooltip);
  color: var(--corTexto);

  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.infoDiv:hover {
  background: var(--corTooltipHover);
}

@media (max-width: 880px) {
  .generalContainer {
    width: 320px;
    height: 260px;
  
    margin-bottom: 10px;
  }
  .container {
    width: 320px;
  }

  /* Extra Info Container */

  .extraInfoContainer {
    width: 320px;
    height: 50px;
  }

  /* Lock Container */

  .containerLocked {
    width: 320px;
  }
  .containerLocked:after {
    width: 100%;
    height: 100%;
  }

  /* Lock Container End */
}

@media (max-width: 480px) {
  .generalContainer {
    width: 240px;
    height: 260px;
  
    margin-bottom: 10px;
  }
  .container {
    width: 240px;
  }
  .totalAmount {
    width: 70px;
    height: 16px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    font-size: 9px;
  }
  .valueText {
    font-size: 10px;
  }
  .buttonInfo {
    width: 40px;
    height: 25px;

    border-radius: 5px;

    font-size: 14px;
  }
  .amountControl {
    right: 0px;
  }
  .amountControl .title {
    font-size: 9px;
  }
  .amountContainer {
    width: 60px;
    height: 20px;

    font-size: 10px;
  }
  .stopProduction {
    width: 60px;
    height: 18px;

    border-radius: 5px;

    font-size: 10px;
  
    margin-top: 5px;
  }
  .button {
    width: 25px;
    height: 25px;

    font-size: 10px;
  }
  .extraInfoContainer {
    position: relative;
    display: flex;
  
    justify-content: center;
  
    flex-direction: column;
  
    width: 240px;
    height: 50px;
  
    top: -80px;
  }

  /* Lock Container */

  .containerLocked {
    width: 240px;
  }
  .containerLocked .lockedContainer .lockedText {
    font-size: 14px;
    font-weight: 700;
  }
  .containerLocked .lockedContainer .lockedLevel {
    font-size: 12px;
    font-weight: 700;
  
    color: var(--corTextoBranco);
  }

  /* Lock Container End */
}