@import '../../../css/colors.css';

.container {
  position: relative;
  display: flex;

  flex-direction: column;

  border-radius: 5px;
  border-left: 4px solid var(--corPrimaria);

  margin-bottom: 10px;

  width: 320px;
  height: 144px;

  min-height: 144px;

  background: var(--corFundo);
  color: var(--corTextoBranco);
}

/* Locked Container */

.container .lockedContainer {
  display: none;
}
.containerLocked {
  position: relative;
  display: flex;

  flex-direction: column;

  border-radius: 5px;
  border-left: 4px solid var(--corPrimaria);

  margin-bottom: 10px;

  width: 320px;
  height: 144px;

  min-height: 144px;

  background: var(--corFundo);
  color: var(--corTextoBranco);
}
.containerLocked .lockedContainer {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  border-radius: 5px;
  border-left: 4px solid var(--corPrimaria);

  margin-bottom: 10px;

  width: 320px;
  height: 144px;

  left: -4px;

  min-height: 144px;

  background: var(--corFundo);
  color: var(--corTextoBranco);

  z-index: 1;
}
.containerLocked .lockedContainer .lockedText {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 700;

  margin-bottom: 5px;

  color: var(--corTextoBranco);
}
.containerLocked .lockedContainer .lockedLevel {
  font-size: 14px;
  font-weight: 700;

  color: var(--corTextoBranco);
}
.containerLocked .lockedContainer .lockedLevel span {
  font-weight: 300;
}

/* Locked container End */

.title {
  margin-top: 5px;
  margin-bottom: 4px;
}
.titleQtd {
  font-size: 12px;
}
.text {
  margin-left: 6px;

  font-size: 14px;
  font-weight: 300;
}
.bold {
  font-weight: 700;
}
.totais {
  margin-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;

  font-size: 14px;
  font-weight: 700;
}

/* Amount Control */

.amountControl {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  right: 6px;
  top: 6px;

  color: var(--corTextoBranco);
}
.amountControl .title {
  font-size: 12px;
}
.amountContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 76px;
  height: 20px;

  margin-top: 5px;
  border-radius: 50px;

  font-size: 12px;

  background: var(--corFundoNav);
}
.stopProduction {
  width: 76px;
  height: 25px;

  margin-top: 20px;

  border: none;
  border-radius: 5px;

  background: var(--corPrimaria);
  color: var(--corTextoBtn);

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.stopProduction:hover {
  background: var(--corPrimariaHover);
}
.amountControlGrid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  margin-top: 5px;
  width: 76px;
}
.plus {
  margin-right: 15px;
}
.button {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  margin-top: 5px;

  border-radius: 5px;
  border: none;

  color: var(--corTextoIcone);  
  background: var(--corPrimaria);

  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.button:hover {
  background: var(--corPrimariaHover);
}