@import '../../../css/colors.css';

.container {
  position: relative;

  width: 260px;
  height: 60px;

  min-height: 60px;

  margin-right: 17.5px;
  margin-bottom: 15px;

  border-radius: 10px;
  border-left: 4px solid var(--corPrimaria);

  background: var(--corFundo);

  transition: 0.3s ease-in-out;
}
.title {
  margin-left: 5px;
  margin-top: 5px;

  font-size: 14px;

  color: var(--corTexto);

  transition: 0.3s ease-in-out;
}
.value {
  margin-left: 5px;
  margin-top: 8px;

  font-size: 18px;
  font-weight: 500;

  color: var(--corTextoValor);

  transition: 0.3s ease-in-out;
}

/* Level */

.levelContainer {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  top: 0;
  right: 18px;

  width: 60px;
  height: 60px;

  transition: 0.3s ease-in-out;
}
.levelText {
  font-size: 12px;
  font-weight: 600;

  color: var(--corTexto);
}
.levelBox {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 45px;
  height: 18px;

  border-radius: 5px;

  background: var(--corFundoNav);
}
.levelBox p {
  font-size: 14px;
  color: var(--corTextoValor);
}
.levelBoxMax {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 45px;
  height: 18px;

  border-radius: 5px;

  background: linear-gradient(263.66deg, #28BAEE 0%, #78DCFF 39.19%, #80DEFF 53.41%, #28BAEE 100%);
}
.levelBoxMax p {
  font-size: 14px;
  color: var(--corTextoValor);
}

/* Upgrade Button */

.btnUpgrade {
  display: flex;
  position: absolute;

  top: 12.5px;
  right: -17px;

  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  border: none;
  border-radius: 100%;

  background: var(--corFundo);
  color: var(--corIcone);

  cursor: pointer;

  transition: 0.3s ease-in-out;
}
.btnUpgrade:hover {
  background: var(--corFundoNav);
  color: var(--corIconeHover);
}

@media (max-width: 480px) {
  .container {
    width: 200px;
    height: 50px;

    min-height: 50px;
  }
  .title {
    font-size: 11px;
  }
  .value {
    margin-top: 6px;

    font-size: 14px;
  }

  /* Level */

  .levelContainer {
    height: 50px;

    right: 12px;
  }
  .levelText {
    font-size: 11px;
    font-weight: 600;
  
    color: var(--corTexto);
  }
  .levelBox {
    display: flex;
  
    align-items: center;
    justify-content: center;
  
    width: 40px;
    height: 16px;
  
    border-radius: 5px;
  
    background: var(--corFundoNav);
  }
  .levelBox p {
    font-size: 11px;
    color: var(--corTextoValor);
  }
  .levelBoxMax {
    display: flex;
  
    align-items: center;
    justify-content: center;
  
    width: 40px;
    height: 16px;
  
    border-radius: 5px;
  
    background: linear-gradient(263.66deg, #28BAEE 0%, #78DCFF 39.19%, #80DEFF 53.41%, #28BAEE 100%);
  }
  .levelBoxMax p {
    font-size: 11px;
    color: var(--corTextoValor);
  }

  /* Upgrade Button */

  .btnUpgrade {
    display: flex;
    position: absolute;
  
    top: 50%;
    right: -15px;

    transform: translateY(-50%);
  
    width: 30px;
    height: 30px;
  }
}