@import '../../css/colors.css';

.container {
  display: flex;

  align-items: center;

  flex-direction: column;

  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.displayContainer {
  display: flex;
}

/* Temas e Cores */

.containerTemas {
  display: flex;

  height: 60px;
}
.marginTop {
  margin-top: 10px;
}
.theme {
  display: flex;

  width: 120px;
  height: 50px;

  margin-right: 10px;
  margin-left: 10px;

  border-radius: 7px;

  border: 4px solid var(--corFundoNav);

  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.themeSelected {
  display: flex;

  width: 120px;
  height: 50px;

  margin-right: 10px;
  margin-left: 10px;

  border-radius: 7px;

  border: 4px solid var(--corPrimaria);

  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.theme:hover {
  border: 4px solid var(--corFundoNavHover);
}
.theme01Left {
  width: 50%;
  height: 100%;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  background: #222133;
}
.theme01Right {
  width: 50%;
  height: 100%;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background: #2C2A42;
}
.theme02Left {
  width: 50%;
  height: 100%;

  border-top-left-radius: 5px5px;
  border-bottom-left-radius: 5px5px;

  background: #0F0F0F;
}
.theme02Right {
  width: 50%;
  height: 100%;

  border-top-right-radius: 5px5px;
  border-bottom-right-radius: 5px5px;

  background: #141414;
}
.theme03Left {
  width: 50%;
  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background: #212A33;
}
.theme03Right {
  width: 50%;
  height: 100%;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background: #2A3642;
}
.theme04Left {
  width: 50%;
  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background: #33212C;
}
.theme04Right {
  width: 50%;
  height: 100%;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background: #422A38;
}
.theme05Left {
  width: 50%;
  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background: #332121;
}
.theme05Right {
  width: 50%;
  height: 100%;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background: #422A2A;
}
.theme06Left {
  width: 50%;
  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background: #213329;
}
.theme06Right {
  width: 50%;
  height: 100%;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background: #2A4236;
}

/* Temas e Cores */

.containerCores {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  width: 100%;
}

.cor {
  width: 56px;
  height: 56px;

  border-radius: 7px;

  margin: 2px 4px;

  border: 4px solid var(--corFundoNav);

  cursor: pointer;

  transition: 0.3s ease-in-out;
}
.cor:hover {
  border: 4px solid var(--corFundoNavHover);
}
.corSelected {
  position: relative;

  width: 56px;
  height: 56px;

  border-radius: 7px;

  margin: 2px 4px;

  border: 4px solid var(--corFundoNavHover);

  cursor: pointer;
}
.corSelected::after {
  content: '';

  position: absolute;

  width: 10px;
  height: 10px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background: var(--corFundoNavHover);

  border-radius: 5px;
}

.cor01 {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  background: #0a84ff;
}
.cor02 {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  background: #ff9f0a;
}
.cor03 {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  background: #ffd60a;
}
.cor04 {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  background: #30d158;
}
.cor05 {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  background: #66d4cf;
}
.cor06 {
  width: 100%;
  height: 100%;

  border-radius: 5px;border-radius: 5px;

  background: #40c8e0;
}
.cor07 {
  width: 100%;
  height: 100%;

  border-radius: 5px;border-radius: 5px;

  background: #64d2ff;
}
.cor08 {
  width: 100%;
  height: 100%;

  border-radius: 5px;border-radius: 5px;

  background: #ff453a;
}
.cor09 {
  width: 100%;
  height: 100%;

  border-radius: 5px;border-radius: 5px;

  background: #5e5ce6;
}
.cor10 {
  width: 100%;
  height: 100%;

  border-radius: 5px;border-radius: 5px;

  background: #bf5af2;
}
.cor11 {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  background: #ff375f;
}
.cor12 {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  background: #ac8e68;
}

/* Value Container */ 

.valueContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 420px;
  height: 35px;

  margin-top: 10px;
  margin-bottom: 10px;

  border: none;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 500;

  color: var(--corTextoBranco);
  background: var(--corPrimaria);
}
.changeNameBtn {
  width: 420px;
  height: 45px;

  border: none;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 400;

  margin-bottom: 60px;

  color: var(--corTextoBranco);
  background: var(--corPrimaria);

  transition: background 0.3s ease-in-out;

  cursor: pointer;
}
.changeNameBtn:hover {
  background: var(--corPrimariaHover);
}