.container {
  display: flex;

  width: 370px;
  height: 70px;

  align-items: center;
  justify-content: flex-start;

  border-radius: 5px;

  background: var(--corFundoNav);
}
.containerMiddle {
  display: flex;

  width: 370px;
  height: 70px;

  align-items: center;
  justify-content: flex-start;

  margin: 0 10px;

  border-radius: 5px;

  background: var(--corFundoNav);
}
.iconContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  margin-left: 5px;

  border-radius: 5px;

  background: var(--corFundo);

  cursor: pointer;
}
.icon {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 34px;

  color: var(--corIconeBranco);
}
.textContainer {
  display: flex;

  justify-content: center;

  flex-direction: column;

  height: 100%;
}
.title {
  font-size: 14px;
  font-weight: 500;

  margin-left: 10px;

  color: var(--corTextoBranco);
}
.titleAlert {
  font-size: 14px;
  font-weight: 500;

  margin-left: 10px;

  color: var(--alert);
}
.titleCritic {
  font-size: 14px;
  font-weight: 500;

  margin-left: 10px;

  color: var(--critic);
}
.value {
  font-size: 20px;
  font-weight: 600;

  margin-left: 10px;

  color: var(--corTextoBranco);
}
.valueAlert {
  font-size: 20px;
  font-weight: 600;

  margin-left: 10px;

  color: var(--alert);
}
.valueCritic {
  font-size: 20px;
  font-weight: 600;

  margin-left: 10px;

  color: var(--critic);
}

/* Temperatura */

.titleAlertTemp {
  font-size: 14px;
  font-weight: 500;

  margin-left: 10px;

  color: var(--alert);
}
.titleCriticTemp {
  font-size: 14px;
  font-weight: 500;

  margin-left: 10px;

  color: var(--critic);
}
.titleTemp {
  font-size: 14px;
  font-weight: 500;

  margin-left: 10px;

  color: var(--corTextoBranco);
}
.valueAlertTemp {
  font-size: 20px;
  font-weight: 600;

  margin-left: 10px;

  color: var(--alert);
}
.valueCriticTemp {
  font-size: 20px;
  font-weight: 600;

  margin-left: 10px;

  color: var(--critic);
}
.valueTemp {
  font-size: 20px;
  font-weight: 600;

  margin-left: 10px;

  color: var(--corTextoBranco);
}