@import '../../css/colors.css';

.container {
  display: flex;

  align-items: center;

  flex-direction: column;

  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;

  width: 100%;
}

.title {
  display: flex;

  align-items: center;
  justify-content: center;
  
  font-size: 18px;

  transition: 0.3s ease-in-out;
}
.titleContainer {
  width: 100%;
  height: 60px;

  display: flex;

  align-items: center;
  justify-content: center;

  color: var(--corTextoBranco);
}
.title span {
  font-weight: 700;
}

/* Timer and Crash */

.timerCrashContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 660px;

  transition: 0.3s ease-in-out;
}
.timerContainer {
  display: flex;
  
  width: 220px;
  height: 60px;

  margin-right: 10px;

  border-radius: 5px;

  background: var(--corFundoNav);

  transition: 0.3s ease-in-out;
}
.crashHistoryContainer {
  display: flex;

  align-items: center;

  flex-direction: row-reverse;

  padding-left: 10px;

  width: 420px;
  height: 60px;

  border-radius: 5px;

  background: var(--corFundoNav);

  overflow-x: auto;
  overflow-y: hidden;

  transition: 0.3s ease-in-out;
}
.crashContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-right: 10px;

  border-radius: 5px;
  border: 3px solid var(--corFundoNavHover);

  width: 80px;
  height: 40px;

  min-width: 80px;
  min-height: 40px;

  font-size: 16px;
  font-weight: 500;

  color: var(--corTextoBranco);
  background: var(--corFundo);

  transition: 0.3s ease-in-out;
}
.timerIconContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  min-width: 50px;
  min-height: 50px;

  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;

  border-radius: 5px;

  background: var(--corFundo);

  transition: 0.3s ease-in-out;
}
.timerIconContainer2 {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  min-width: 70px;
  min-height: 70px;

  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;

  border-radius: 5px;

  background: var(--corFundo);

  transition: 0.3s ease-in-out;
}
.icon {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 40px;

  color: var(--corIconeBranco);

  transition: 0.3s ease-in-out;
}
.infoContainer {
  width: 100%;
  height: 100%;

  transition: 0.3s ease-in-out;
}
.timerTitle {
  margin-top: 10px;

  font-size: 14px;
  font-weight: 500;

  color: var(--corTextoBranco);

  transition: 0.3s ease-in-out;
}
.displayTimer {
  margin-top: 2px;

  font-size: 20px;
  font-weight: 500;

  color: var(--corTextoBranco);

  transition: 0.3s ease-in-out;
}
.graphContainer {
  position: relative;
  
  margin-top: 10px;

  width: 660px;
  height: 330px;

  transition: 0.3s ease-in-out;
}
.multiplierDisplay {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;
  
  flex-direction: column;

  top: 50%;
  left: 50%;

  font-size: 40px;

  color: var(--corTextoBranco);

  transform: translate(-50%, -100%);

  transition: 0.3s ease-in-out;
}
.multiplierDisplayCrashed {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;
  
  flex-direction: column;

  top: 50%;
  left: 50%;

  font-size: 40px;

  color: var(--crashColor);

  transform: translate(-50%, -100%);

  transition: 0.3s ease-in-out;
}
.buttonContainer {
  position: relative;

  top: -15px;

  transition: 0.3s ease-in-out;
}
.button {
  width: 660px;
  height: 45px;

  border-radius: 5px;
  border: none;
  
  font-size: 20px;
  font-weight: 400;

  color: var(--corTextoBtn);
  background: var(--corPrimaria);

  cursor: pointer;

  transition: 0.3s ease-in-out;
}
.button:hover {
  background: var(--corPrimariaHover);
}
.autoBet {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  right: 5px;
  top: 5px;

  border-radius: 5px;
  border: none;

  font-size: 24px;

  width: 70px;
  height: 35px;

  color: var(--corIconeBranco);
  background: var(--corPrimariaEscuro);

  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.autoBet:hover {
  background: var(--corPrimariaHover);
}
.inputContainer {
  display: flex;

  margin-top: 10px;

  align-items: center;
  justify-content: center;

  transition: 0.3s ease-in-out;
}
.input {
  width: 205px;
  height: 30px;

  padding: 0px 10px;

  color: var(--corTextoBranco);

  text-align: start;

  margin-top: 2px;

  border: none;
  border-radius: 5px;

  font-size: 12px;

  background: var(--corFundo);

  transition: 0.3s ease-in-out;
}
.inputMargin {
  margin-right: 10px;
}
.input::placeholder {
  color: var(--corTextoPlaceHolder);
}
.crashDisplayContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0px 10px;
  margin-right: 10px;

  height: 35px;

  border-radius: 10px;

  background: var(--corPrimaria);

  transition: 0.3s ease-in-out;
}
.displayCrashDirection {
  display: flex;
}
.inputsContainer {
  display: flex;

  width: 660px;
  height: 80px;

  margin-top: 10px;

  transition: 0.3s ease-in-out;
}
.inputBox {
  display: flex;

  width: 325px;
  height: 80px;

  border-radius: 10px;

  background: var(--corFundoNav);

  transition: 0.3s ease-in-out;
}
.marginRight {
  margin-right: 10px;
}
.inputTitle {
  margin-top: 8px;
  
  font-weight: 700;
  color: var(--corTextoBranco);
}
.littleInfo {
  font-size: 11px;

  margin-top: 3px;

  font-weight: 700;
  color: var(--corTextoBranco);
}
.lucroText {
  font-size: 16px;
}
.lucroBold {
  font-weight: 700;
}
.crashWithdraw {
  font-size: 16px;
  font-weight: 400;

  color: var(--corTextoBranco);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}