@import '../../css/colors.css';

.navbar {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;

  width: 100%;
  height: 70px;

  background: var(--corFundo);

  z-index: 10;
}
.navbar ul {
  display: flex;
}
.navbarItem {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;

  margin: 0 5px;

  border-radius: 5px;

  background: var(--corFundoNav);

  transition: 0.3s ease-in-out;
}
.navbarItem:hover {
  background: var(--corFundoNavHover);
}
.navbarItem:hover .icon {
  color: var(--corIconeHover);
}
.navbarItem a {
  display: flex;

  align-items: center;
  justify-content: center;
  
  width: 45px;
  height: 45px;

  border-radius: 5px;

  color: var(--corIconeBranco);
}
.icon {
  font-size: 20px;

  transition: 0.3s ease-in-out;
}

/* Selected Route */

.navbarItemSelected {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;

  margin: 0 5px;

  border-radius: 5px;

  background: var(--corFundoNavHover);

  transition: 0.3s ease-in-out;
}
.navbarItemSelected a {
  display: flex;

  align-items: center;
  justify-content: center;
  
  width: 50px;
  height: 50px;

  border-radius: 50%;

  color: var(--corIconeHover);
}

/* Sessão menu lateral */

.menuItems {
  position: fixed;
  display: flex;

  justify-content: center;

  left: -320px;
  top: 0;

  width: 320px;
  height: 100vh;

  transition: 0.5s ease-in-out;

  z-index: 20;
}
.openCloseDiv {
  position: relative;
  display: flex;

  justify-content: center;

  right: -365px;

  width: 0px;
  height: 80px;
}

.openCloseButton {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 45px;
  height: 45px;

  min-width: 45px;
  min-height: 45px;

  margin-top: 15px;
  margin-right: 15px;

  border-radius: 5px;

  background: var(--corPrimaria);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  transition: background 0.3s ease-in-out;

  cursor: pointer;
}
.openCloseButton:hover {
  background: var(--corPrimariaHover);
}
.top {
  position: relative;

  width: 20px;
  height: 2px;

  top: -5px;

  background: var(--corIconeBranco);

  transition: 0.3s ease-in-out;
}
.middle {
  position: relative;

  width: 20px;
  height: 2px;

  background: var(--corIconeBranco);

  transition: 0.3s ease-in-out;
}
.bottom {
  position: relative;

  width: 20px;
  height: 2px;

  bottom: -5px;

  background: var(--corIconeBranco);

  transition: 0.3s ease-in-out;
}

.itemsContainer {
  display: flex;

  align-items: center;

  flex-direction: column;

  width: 320px;
  height: 100%;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  background: var(--corFundo);
}
.titleContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 15px 0;
  margin-bottom: 40px;

  width: 280px;
  height: 45px;

  border-radius: 5px;

  color: var(--corTextoBranco);
  background: var(--corPrimaria);
}
.title {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
}