@import '../../css/colors.css';

.generalContainer {
  display: flex;
  
  align-items: center;

  flex-direction: column;
}
.gridMoneyContainer {
  display: grid;

  width: 100%;

  margin-top: 20px;

  padding-left: 5px;
  padding-right: 5px;

  margin-left: 10px;

  grid-template-columns: repeat(2, 1fr);
}
.container {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  margin-bottom: 10px;

  width: 400px;
  height: 70px;

  min-height: 70px;

  border-radius: 10px;
  background: var(--corFundoNav);

  transition: 0.3s ease-in-out;
}
.title {
  color: var(--corTexto);

  font-weight: 200;
  font-size: 18px;

  transition: 0.3s ease-in-out;
}
.title span {
  font-weight: 700;
}

/* BTC Container */

.btcContainer {
  display: flex;

  color: var(--corTexto);

  font-size: 24px;
  font-weight: 700;

  transition: 0.3s ease-in-out;
}
.btcText {
  margin-left: 5px;
}

/* Infos Container */

.infosContainer {
  display: flex;

  align-items: center;

  flex-direction: column;

  width: 400px;
  height: 350px;

  border-radius: 10px;
  background: var(--corFundoNav);

  transition: 0.3s ease-in-out;
}
.infosContainer .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.infoMpc {
  width: 350px;
  height: 50px;

  border-radius: 10px;
  border-left: 4px solid var(--corPrimaria);

  background: var(--corFundo);

  transition: 0.3s ease-in-out;
}
.infoMpc .title {
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 2px;

  font-size: 14px;

  transition: 0.3s ease-in-out;
}
.infoMpc .btcContainer .value {
  margin-left: 5px;

  font-size: 20px;
  font-weight: 500;

  color: var(--corValor);

  transition: 0.3s ease-in-out;
}
.infoMpc .btcContainer .btcText {
  font-size: 20px;
  font-weight: 500;

  color: var(--corValor);

  transition: 0.3s ease-in-out;
}

/* Conversão */

.convertGeneralContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.convertContainer {
  position: relative;
  display: flex;

  align-items: center;
}
.inputValues {
  position: relative;

  width: 280px;
  height: 35px;

  text-align: center;

  border-radius: 10px;
  border: none;

  background: var(--corInputClaro);
  color: var(--corTexto);

  transition: 0.3s ease-in-out;

  z-index: 1;
}
.inputValues::placeholder {
  color: var(--corTextoPlaceHolder);
}
.inputValues::-webkit-outer-spin-button,
.inputValues::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.icon {
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 5px;

  font-size: 18px;

  color: var(--corIcone);
}

/* Convert Button */

.convertBtn {
  width: 180px;
  height: 35px;

  margin-top: 20px;

  border: none;
  border-radius: 100px;

  color: var(--corTextoBtn);
  background: var(--corPrimaria);

  font-weight: 400;
  font-size: 16px;

  cursor: pointer;
}

/* Progress */

.progressToMine {
  -webkit-appearance: none;
  appearance: none;

  margin-top: 10px;
  
  width: 400px;
  height: 30px;

  transition: 0.3s ease-in-out;
}
.progressToMine::-webkit-progress-bar {
  background: var(--corFundoNav);
  border-radius: 50px;
}
.progressToMine::-webkit-progress-value {
  background: var(--corPrimaria);

  border-radius: 50px;
}

/* Mine Button */

.mineBtn {
  width: 400px;
  height: 45px;

  margin-top: -10px;
  margin-bottom: 40px;

  border: none;
  border-radius: 100px;

  color: var(--corTextoBtn);
  background: var(--corPrimaria);

  font-weight: 300;
  font-size: 18px;

  cursor: pointer;
}

/* Show Progress */

.showProgress {
  position: relative;

  display: flex;

  top: -24px;

  color: var(--corValor);
}

/* Copy Button */

.copyBtcBtn {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  right: 15px;
  top: 50%;

  transform: translateY(-50%);

  width: 40px;
  height: 40px;

  background: var(--corPrimaria);
  color: var(--corTextoBtn);

  border: none;
  border-radius: 10px;
  font-size: 20px;

  z-index: 0;

  cursor: pointer;

  transition: 0.3s ease-in-out;
}
.copyBtcBtn:hover {
  background: var(--corPrimariaHover);
}

/* Number Animation */

.number {
  font-size: 20px;

  animation-name: number;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  font-weight: 300;

  color: white;

  z-index: 10;
}

@keyframes number {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    margin-top: -260px;
  }
}

@media (max-width: 880px) {
  .gridMoneyContainer {
    grid-template-columns: repeat(1, 1fr);

    padding-left: 0;
    padding-right: 0;

    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .container {
    width: 260px;
    height: 60px;
  
    min-height: 60px;
  }
  .title {
    font-size: 16px;
  }

  /* BTC Container */

  .btcContainer {
    font-size: 18px;
  }

  /* Infos Container */

  .infosContainer {
    width: 260px;
    height: 320px;
  }
  .infoMpc {
    width: 220px;
    height: 50px;
  }
  .infoMpc .title {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 2px;

    font-size: 14px;
  }
  .infoMpc .btcContainer .value {
    margin-top: 2px;
    margin-left: 5px;

    font-size: 16px;
    font-weight: 500;

    color: var(--corValor);
  }
  .infoMpc .btcContainer .btcText {
    margin-top: 2px;
    
    font-size: 16px;
    font-weight: 500;

    color: var(--corValor);
  }

  /* Conversão */

  .icon {
    width: 14px;
    margin-right: 3px;
    margin-left: 3px;
  }
  .inputValues {
    width: 200px;
    height: 30px;

    font-size: 13px;
  }

  /* Progress */

  .progressToMine {
    width: 260px;

    height: 20px;
  }

  /* Show Progress */

  .showProgress {
    position: relative;

    display: flex;

    top: -16px;

    font-size: 12px;

    color: var(--corValor);
  }

  /* Mine Button */

  .mineBtn {
    width: 260px;
    height: 40px;

    margin-top: 0px;

    border: none;
    border-radius: 100px;

    color: var(--corTextoBtn);
    background: var(--corPrimaria);

    font-weight: 300;
    font-size: 18px;

    cursor: pointer;
  }

  /* Grid Part */

  .gridNames {
    display: grid;
  
    width: 100%;
  
    grid-template-columns: repeat(2, 1fr);
  }

  /* Copy Button */

  .copyBtcBtn {
    width: 30px;
    height: 30px;

    right: 15px;

    border-radius: 6px;
    font-size: 16px;
  }

  /* Convert Button */

  .convertBtn {
    width: 200px;
    height: 30px;

    font-weight: 300;
    font-size: 14px;
  }

  /* Number Animation */

  .number {
    font-size: 16px;
  
    animation-name: number;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  
    font-weight: 300;
  
    color: white;
  }

  @keyframes number {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      margin-top: -160px;
    }
  }
}